$primary-color: #0c0a2c;
$screen-width: 1920px;
$table-color: #1c1650;
$header-table: #2e2e82;
$yellow-color: #f6bb4b;
$green-color: #96ff58;
$violet-color: #ff58eb;
$gray-color: #aaaaaa;
$color-black: #000000;
$color-white: #ffffff;
$marginLeftPage: 30px;
$marginRightPage: 90px;
$marginTopPage: 35px;
$bg-btn-blue: linear-gradient(180deg, rgba(145, 239, 255, 1) 0%, rgba(57, 85, 255, 1) 100%);

@mixin bgGradientYellow {
  // background: rgb(255, 250, 111);
  // background: linear-gradient(180deg, rgba(255, 250, 111, 1) 0%, rgba(255, 105, 84, 1) 100%);
  background: rgb(217, 110, 51);
  background: linear-gradient(
    0deg,
    rgba(217, 110, 51, 1) 0%,
    rgba(255, 213, 83, 1) 100%
  );
}

@mixin bgGrandientGreen {
  // background: rgb(183, 255, 98);
  // background: linear-gradient(180deg, rgba(183, 255, 98, 1) 0%, rgba(0, 139, 95, 1) 90%);
  // background: rgb(0, 161, 0);
  // background: linear-gradient(0deg, rgba(0, 161, 0, 1) 0%, rgba(185, 255, 46, 1) 100%);
  // background: linear-gradient(180deg, #b7ff62 4.24%, #008b5f 100%);
  background: linear-gradient(0deg, #00a617 0%, #b7ff62 100%);
}
@mixin bgGradientBlack {
  // background: rgb(57, 57, 57);
  // background: linear-gradient(0deg, rgba(57, 57, 57, 1) 0%, rgba(191, 191, 191, 1) 100%);
  background: linear-gradient(0deg, #393939 0%, #bfbfbf 100%);
}
@mixin bgGradientViolet {
  background: rgb(255, 67, 201);
  background: linear-gradient(
    180deg,
    rgba(255, 67, 201, 1) 0%,
    rgba(40, 13, 255, 1) 100%
  );
}
@mixin bgModal {
  background: rgb(44, 43, 106);
  background: linear-gradient(
    215deg,
    rgba(44, 43, 106, 1) 0%,
    rgba(52, 53, 121, 1) 100%
  );
}
