.teaching-schedule__wrapper {
  width: 100%;
  background: #ffffff;
  border-radius: 20px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;

  @media only screen and (max-width: 340px) {
    padding: 12px 15px;
  }
}
