.profile-step-3 {
    max-height: calc(100vh - 250px);
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    &__input {
        margin-top: 16px;
        &:first-child {
            margin-top: 25px;
        }
        &__label {
            color: #3f3f3f;
            font-weight: 600;
            font-size: 16px;
            margin-left: 10px;
            margin-bottom: 12px;
        }
        &:last-child {
            .image-frame:last-child {
                margin-top: 12px;
            }
        }
    }
}
