.dropdown-menu {
  cursor: pointer;
  position: relative;
  z-index: 9;

  &.grade-dropdown {
    .filter-downmenu__show {
      padding-left: 35px;
    }
  }

  &__header {
    height: 44px;
    background: linear-gradient(
      115.18deg,
      rgba(255, 255, 255, 0.42) 16.63%,
      rgba(255, 255, 255, 0.0569001) 84.01%
    );
    mix-blend-mode: normal;
    opacity: 0.85;
    backdrop-filter: blur(54.3656px);
    border-radius: 88px;
    display: flex;
    align-items: flex-end;
    border: 1px solid;

    border: linear-gradient(
      116.33deg,
      #ffffff 24.52%,
      rgba(255, 255, 255, 0.177475) 83.45%
    );

    @media only screen and (max-width: 480px) {
      height: 38px;
    }
  }

  &__show {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    span {
      width: 620px;
      text-align: left;
      margin-left: 20px;
      color: #ffffff;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-transform: uppercase;

      @media only screen and (max-width: 480px) {
        font-size: 15px;
        width: 250px;
        white-space: wrap;
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 99%;
    width: 56px;
    border-radius: 100px;

    @media only screen and (max-width: 480px) {
      width: 44px;
    }
  }
  &__body {
    width: 100%;
    background-color: #333b5e;
    position: absolute;
    top: 30px;
    padding-top: 22px;
    z-index: -1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    @media only screen and (max-width: 480px) {
      top: 20px;
    }

    &--over {
      border-radius: 10px;
      overflow: scroll;
      height: calc(100vh - 30vh);
    }

    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
  }
  &__item {
    color: #ffffff;
    padding: 18px 14px;
    border-bottom: solid #414876 1px;
    transition: all 0.5s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;

    @media only screen and (max-width: 480px) {
      font-size: 15px;
      padding: 12px 4px;
    }

    &:hover {
      background-color: #4b5594;
    }
    &:last-child {
      border-bottom: none;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  &__point {
    flex: 1;
    padding: 0 4px;
    text-align: center;
    border-left: solid 1px #6977cf;
  }
  &__power {
    flex: 2;
    text-align: center;
    padding-right: 10px;
  }
}
