.list-general {
      
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        &--title {
            font-weight: 600;
            font-size: 20px;
            color: #3F3F3F;
        }
        &--btn {
            color: #001AFF;
            text-decoration-line: underline;
            font-style: italic;
        }
    }
}