.intro-post-find-tutor {
    height: 104px;

   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    //align-items: center;
    justify-content: center;
    p {
        height: fit-content;
        width: fit-content;
        font-size: 18px;
        color: white;
        text-align: center;
        margin-top: 20px;
    }
    
}