.subject-item {
    //width: 180px;
    height: 80px;
    background: linear-gradient(0deg, #3955FF 0%, #91EFFF 100%), linear-gradient(100.22deg, #D6FFC2 -0.11%, #95FF8C 52.21%, #09E975 95.55%), linear-gradient(210.54deg, #A7FFE5 -27.52%, #00CFC3 75.35%), linear-gradient(208.27deg, #FF806C 0%, #FF5C00 95.3%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
        &:first-child {
            font-weight: 700;
            font-size: 20px;
            color: white;
        }

        &:last-child {
            font-weight: 400;
            font-size: 16px;
            color: white;
        }
    }
}