// .app {}

.btn-primary {
  background: linear-gradient(0deg, #3955ff 0%, #91efff 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.18);
  border-radius: 60px;
  border: none;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  margin: auto;
  padding: 14px 5px;
  cursor: pointer;
}

.btn-default {
  background: linear-gradient(205.04deg, #a5a5a5 13.2%, #434343 93.54%);
  border-radius: 60px;
  border: none;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin: auto;
  cursor: pointer;
}

.btn-danger {
  background: linear-gradient(189.58deg, #FF9A9A 6.11%, #FF3055 92.78%);
  border-radius: 60px;
  border: none;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  margin: auto;
  padding: 14px 20px;
  cursor: pointer;
}

.box-uncheck {
  width: 40px;
  height: 40px;
  background: #7a7bd3;
  border-radius: 6px;
  margin: auto;
  cursor: pointer;
}
.box-checked {
  width: 40px;
  height: 40px;
  background: linear-gradient(0deg, #3955ff 0%, #91efff 100%);
  border-radius: 6px;
  margin: auto;
  padding-top: 5px;
  align-items: center;
  cursor: pointer;
}
