@font-face {
  //font-family: 'Helvetica Neue';
  font-family: system;
  src: local('Helvetica Neue'),
    url('https://s3south.storage.com.vn/yootvn/Assets/web/yootway/font/helveticaneue.ttf')
      format('truetype');
  font-weight: normal;
}
@font-face {
  //font-family: 'Helvetica Neue';
  font-family: system;
  src: local('Helvetica Neue'),
    url('https://s3south.storage.com.vn/yootvn/Assets/web/yootway/font/helveticaneueitalic.ttf')
      format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  //font-family: 'Helvetica Neue';
  font-family: system;
  src: local('Helvetica Neue'),
    url('https://s3south.storage.com.vn/yootvn/Assets/web/yootway/font/helveticaneuelight.ttf')
      format('truetype');
  font-weight: 300;
}
@font-face {
  //font-family: 'Helvetica Neue';
  font-family: system;
  src: local('Helvetica Neue'),
    url('https://s3south.storage.com.vn/yootvn/Assets/web/yootway/font/helveticaneuelightitalic.ttf')
      format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  //font-family: 'Helvetica Neue';
  font-family: system;
  src: local('Helvetica Neue'),
    url('https://s3south.storage.com.vn/yootvn/Assets/web/yootway/font/helveticaneueultralight.ttf')
      format('truetype');
  font-weight: 100;
}
@font-face {
  //font-family: 'Helvetica Neue';
  font-family: system;
  src: local('Helvetica Neue'),
    url('https://s3south.storage.com.vn/yootvn/Assets/web/yootway/font/helveticaneuelightitalic.ttf')
      format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  //font-family: 'Helvetica Neue';
  font-family: system;
  src: local('Helvetica Neue'),
    url('https://s3south.storage.com.vn/yootvn/Assets/web/yootway/font/helveticaneuebold.ttf')
      format('truetype');
  font-weight: 700;
}
@font-face {
  //font-family: 'Helvetica Neue';
  font-family: system;
  src: local('Helvetica Neue'),
    url('https://s3south.storage.com.vn/yootvn/Assets/web/yootway/font/helveticaneuebolditalic.ttf')
      format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  //font-family: 'Helvetica Neue';
  font-family: system;
  src: local('Helvetica Neue'),
    url('https://s3south.storage.com.vn/yootvn/Assets/web/yootway/font/helveticaneuemedium.ttf')
      format('truetype');
  font-weight: 600;
}

@font-face {
  //font-family: 'Helvetica Neue';
  font-family: system;
  src: local('Helvetica Neue'),
    url('https://s3south.storage.com.vn/yootvn/Assets/web/yootway/font/helveticaneuecondensedbold.ttf')
      format('truetype');
  font-weight: 800;
}
@font-face {
  //font-family: 'Helvetica Neue';
  font-family: system;
  src: local('Helvetica Neue'),
    url('https://s3south.storage.com.vn/yootvn/Assets/web/yootway/font/helveticaneuecondensedblack.ttf')
      format('truetype');
  font-weight: 900;
}
