@import '../../../assets/scss/variable.scss';

.forgot-wrapper {
  position: relative;
	min-height: 700px;
  height: calc(100vh - 128px);
  color: black !important;

  .forgot {
    &__header {
      display: flex;
      align-items: center;

      p {
        color: black;
        padding-left: 10px;
        font-size: 20px;
        font-weight: 600;
      }
    }

    &__main {
      .input-wrapper {
        padding-top: 16px;

				p {
					margin: 0 !important;
				}

        &--otp {
          padding-top: 19px;
        }
      }

      .input-wrapper:nth-child(1) {
        padding-top: 19px;
      }

      padding-top: 19px;
      font-size: 16px;
      font-weight: 500;
      padding-bottom: 12px;

      &--otp {
        display: flex;
        justify-content: space-between;
        gap: 8px;
      }

      &--title {
        font-weight: 500;
        font-size: 16px;
        color: #000000;
        padding-left: 10px;
        text-align: justify;
      }
      &--label {
        font-weight: 500;
        font-size: 16px;
        color: black;
        padding-left: 14px;
        padding-bottom: 7px;
      }

      &--forgotpass {
        padding-left: 14px;
        padding-top: 12px;
        a {
          color: #0064ff;
          text-decoration-line: underline;
          font-style: italic;
        }
      }
    }

    &__footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
    }

    &__button {
      padding: 20px 44px;

      &--otp {
        padding: 0 15px;
				height: 52px;
      }
    }
  }
}
